<div class='o-grid__col o-grid__col--full'>

  <a href='{{ post.url | prepend: site.baseurl }}'
     class='c-page-list
            {% if forloop.first == true %} c-page-list--first {% endif %}
            {% if forloop.last == true %} c-page-list--last {% endif %}
            '
    >

    <h4 class='c-page-list__title'>{{ post.title }}</h4>

    {% if post.front_page_image %}
      <img src='{{ post.front_page_image | prepend: site.baseurl }}'
           class='c-post__image' alt='{{ post.title }}'>
    {% endif %}

    <span class='c-page-list__excerpt'>
      {% if post.excerpt %}
        {{ post.excerpt | markdownify }}
      {% else %}
        {{ post.content | strip_html | truncatewords:35 }}
      {% endif %}
    </span>

    {% comment %}
      <span class='c-page-list__date'>{{ post.date | date: '%d %b %Y' }}</span>
    {% endcomment %}
  </a>

</div>
